@import '../../scss/variables';
@import '../../scss/mixins';

.footerLinks {
  display: inline;
}

.footerLinksSection {
  display: inline-block;
  margin-top: 46px;
  margin-right: 7.6%;
  font-size: 14px;
  line-height: 1.5;
  color: $mirror-dark-grey;
  width: 109px;

  &:first-of-type {
    margin-left: 12%;
  }

  &:last-of-type {
    margin-right: 10%;
  }

  .header {
    margin-bottom: 10px;
    text-align: center;
  }

  .link {
    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
