@import '../../scss/variables';
@import '../../scss/mixins';

.icon-container{
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    margin-right: 37px;
    svg-icon{
        width: 100%;
        height: 100%;
        fill:$mirror-dark-grey;;
    }
    &:hover{
        cursor: pointer;
    }
  }

  @media screen and (max-width: $break-small-tablet) {
    .icon-container {
        margin-right: 16px;
    }
}