@import '../../scss/variables';
@import '../../scss/mixins';


.header-icons {
  margin-right: 4%;
  width: 14%;
  display: inline-block;
  position: relative;
  line-height: 100px;
  vertical-align: bottom;
}
