@import '../../scss/variables';
@import '../../scss/mixins';

.brand-container{
    position: relative;
    display: inline-block;
    max-width: 199px;
    width: 21%;
    height: 52%;
    margin: 42px 0 17px 7%;
    text-align: center;
}

.logo{
    width: 100%;
    height: 42px;
    background: $mirror-dark-grey;
    line-height: 42px;
    color: white;
    vertical-align: middle;
}
.tagline{
    font-size: 14px;
    margin-top: 4px;
}