/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

body{
    margin: 0;
}

@media screen and (min-width: $break-mobile+1) {
    .mobile-header{
        display: none;
    }
}

@media screen and (max-width: $break-mobile) {
    .header{
        display: none;
    }
}