// colors
$mirror-green: #90b494;
$mirror-dark-grey: #505255;
$mirror-yellow: #e8c548;
$mirror-grey: #d8d8d8;
$mirror-pink: #ef626c;
$mirror-light-grey: #dcdcdd;
$mirror-white: #f8f8f8;

//breakpoints
$break-small-handset: 359px;
$break-medium-handset:399px;
$break-large-handset: 599px;
$break-small-tablet: 719px;
$break-large-tablet: 959px;
$break-medium: 1279px;
$break-large: 1599px;
$break-extra-large: 1920px;;