// colors
$mirror-green: #90b494;
$mirror-dark-grey: #505255;
$mirror-yellow: #e8c548;
$mirror-grey: #d8d8d8;
$mirror-pink: #ef626c;
$mirror-light-grey: #dcdcdd;
$mirror-white: #f8f8f8;

//breakpoints
$break-mobile: 600px;